.search-results {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 2px;
    margin-top: 30px;
    transition: all 1s ease-in-out;
}

.search-results table td {
    line-height: 50px !important;
    height: 50px;
}

.result-name {
    text-transform: capitalize;
}

.search-results img,
.table-img {
    width: 50px;
}

.stakeholder-add {
    line-height: 4em;
    height: 4em;
    display: inline-flex;
    cursor: pointer;
}

.stakeholder-add i {
    margin-right: 10px;
}

.stakeholder-list {
    margin-top: 100px;
    background-color: #eee;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 20px 20px 50px 20px;
}

.stakeholder-card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    position: relative;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
}

.stakeholder-card img {
    width: 75px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.blue {
    background-color: #2196f3;
}

.blue a {
    color: #2196f3;
}

.cyan .card-banner h3,
.blue .card-banner h3 {
    color: white;
}

.cyan .card-banner {
    background-color: #009688;
}

.cyan a {
    color: #009688;
}

.card-banner {
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.card-banner h3 {
    font-weight: 200;
    font-size: 1.8em;
    margin: 0;
    text-transform: capitalize;
}

.card-social-nav {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: right;
    background-color: white;
}

.card-social-nav span {
    margin: 0px 10px 0px 10px;
}

.card-notes {
    padding: 10px;
    background-color: white;
}

.card-role {
    overflow: hidden;
    background-color: white;
    padding: 15px;
}

.card-role .role-entry {
    background-color: #eee;
    text-align: center;
    padding: 5px 10px;
}

.card-role h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.card-role .role-entry h4 {
    font-weight: 100;
    font-size: 1.2em;
    margin: 0;
    text-transform: lowercase;
}

.search-area h4 {
    font-weight: 600;
}
